{% extends 'base.html' %}


{% load static %}

{% block contents %}

<form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <div style="text-align: center; font-size: 50px; margin-top: 100px;"><b>Sign Up</b></div>
    <hr>
    <!-- Material input -->

    <div style="text-align: center;">
        <div style="width: 300px;">
            <input name="username" class="form-control" type="text" placeholder="Create Your ID"
                style="margin-left: 620px;">
        </div>
        <br />

        <div style="width: 300px;">
            <input name="password" class="form-control" type="password" placeholder="Create Your PassWord"
                style="margin-left: 620px;">
        </div>
        <br />
        <div style="width: 300px;">
            <input name="password2" class="form-control" type="password" placeholder="Confirm Your PassWord"
                style="margin-left: 620px;">
        </div>
        
    <hr>
        <a href = "{% url 'main' %}"><button class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="signup">Sign Up</button></a>
    </div>
</form>

{% endblock %}