{% extends 'base.html' %}

{% block contents %}


<div class="container">
  <form action="{% url 'update_blog' blog.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">게시글 제목</label>
      <input class="form-control" name="title" value="{{blog.title}}">
      <div class="form-group">
        <label for="exampleInputPassword1">게시글 내용</label>
        <input class="form-control" id="exampleInputPassword1" name="content" value="{{blog.content}}">
      </div>


      <input type="submit" value="수정하기" class="btn btn-outline-dark my-2 my-sm-0">
      <a href="{% url 'delete_blog' blog.id %}"><input value="삭제하기" class="btn btn-outline-dark my-2 my-sm-0"
          style="width:100px"></a>
  </form>
</div>

{% endblock %}